<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                [자기 소개 및 지원 동기]
                저는 개발을 통해 사용자가 몰입하고 즐거움을 얻는 경험을 만드는 것에 매료되어 개발자의 길을 걷게 되었습니다. 대학 시절 다양한 프로젝트를 진행하며 단순히 기능을 구현하는 것을 넘어, 동료들과 끊임없이 아이디어를 나누고 피드백을 주고받으며 더 나은 결과물을 만들어내는 협업의 중요성을 깨달았습니다. 이러한 경험을 통해 기술력뿐만 아니라 원활한 커뮤니케이션 능력과 기획적 사고를 갖춘 개발자로 성장할 수 있었습니다. 

            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
