<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                [학력사항]
            </p>
                2023. 02 전북대학교 컴퓨터공학부 졸업 
            </p>
            <p class="paragraph-text justify-text">
                [자격사항]
                </p>
                2024. 06 정보처리기사
            </p>
            <p class="paragraph-text justify-text">
                [기타사항]
                </p>
                2025. 08 전북글로벌게임센터 게임콘텐츠 전문인력 양성과정 (언리얼엔진5) 수료
                </p>
                2023. 08 경기 게임잼과 함께하는 비버잼 참여
                </p>
                2022. 12 전북대학교 컴퓨터공학부 게임경진대회 우수상 수상
                </p>
                2022. 09 전북대학교 대동제 VR 게임 플리마켓 부스 운영
            </p>
        </div>
    </section>
</div>
